*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 96rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.page__title {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
}

.page__restaurants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.page__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item__title {
    font-size: 2rem;
    font-weight: 500;
}

.item__picture-wrapper {
    width: 100%;
    height: 15rem;
    max-height: 20rem;
}

.item__image {
    width: 100%;
    height: 100%;
}